body{
    margin:0;
    text-align:center;
    font-family:'Merriweather', serif;
    font-size:110%;
}

h1{
    font-size :3.75rem;
    margin:50px auto 0 auto;
    font-family:'Sacramento', cursive;
    color:#66BFBF;
}
h2{
    font-family:'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
}
h3{
    font-family:'Montserrat', sans-serif;
    color:#053742;
}

#front{
    font-weight:bold;
}
.height{
    line-height:2cm;
}
.skill-row{
    width:50%;
    /* for centering the skill row -inline*/
    margin: 100px auto 100px auto;
}




/*top container is the parent of top and bottom cloud*/
.top-container {
    background-color:#FFEEDB ;
    position:relative;
    /*it helps to inc the area between content and border*/
    padding-top:100px;
}

.middle-container {
    background-color:#B97A95 ;
}

.bottom-container {
    background-color:#FFBD9B;
    margin:0;
    padding:50px;
}

.stack{
    text-decoration: underline;
}

/*Taken out of the flow and helps to move the element randomly on the screen*/
.bottom-cloud{
    position:absolute;
    left:250px;
    bottom:300px;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.contact-me{
    margin-bottom:0;
    padding-bottom:40px;
}
.profile{
    padding-top:40px;
}

.edu-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height:2;
}

.college{
    float:left;
    margin-right:30px;
}
.senior-sec{
    float:right;
    margin-left:30px;
}
.Higher-sec{
    float:left;
    margin-right: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
